{% include 'navbar.html' %}
{% load static %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
  <h1>About Us</h1>
  <p>This is Simple Enotes Management System Develop by Sadhna and shashank. using Python Django, HTML, CSS, Bootstrp and sqlite.</p>
  <p>This project anytime anywhere remember all queries of students Motivate peoples to use. Easy to use: E-Notes Project is very easy to use.</p>
</div>
<br><br>
<h2 style="text-align:center">Our Team</h2>
<div class="row offset-3">
  <div class="column">
    <div class="card">
      <img src="{% static 'images/t4.jpg' %}" alt="Sadhna Maddheshiya" style="border-radius: 50%;">
      <div class="container">
        <h2>Sadhna maddheshiya</h2>
        <p class="title">Software developer</p>
        <p>The role of a software developer engages in identifying, designing, installing and testing a software system they have built for a company from the ground.</p>
        <p>sadhna11@gmail.com</p>
        <p><a href="mailto:sadhna11@gmail.com"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/t9.jpg' %}" alt="Shashank" style="border-radius: 50%;">
      <div class="container">
        <h2>Shashank Pandey</h2>
        <p class="title">Software Developer</p>
        <p>The role of a software developer engages in identifying, designing, installing and testing a software system they have built for a company from the ground.</p>
        <p>shashank@gmail.com</p>
        <p><a href="mailto:shashank@gmail.com"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>



